.insta-health-section {
  background-color: #007b9e;
  color: white;
  padding: 50px 0;
}

.section-heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 40px;
  color: #fff;
}
.col-md-6 h2 {
  color: white;
}

.section-paragraph {
  font-size: 1.1rem;
  line-height: 1.6;
  color: white;
  margin-left: 40px;
}

.download-btn {
  margin-top: 30px;
  background-color: white;
  color: #007b9e;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  margin-left: 40px;
}

.download-btn:hover {
  background-color: #005f73;
  color: white;
}

.img-fluid-2 {
  max-width: 90%;
  margin-left: 35px;
}
.mission-values-vision {
  padding: 50px 0;
}

.section-heading {
  font-size: 2rem;
  font-weight: bold;
  color: #007b9e;
  margin-bottom: 40px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
}

.card3 {
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  transition:background-color 0.3 ease,  color 0.3s;
  flex: 1;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

}
.card3 h4,.card4 p, .card3 ul li {
  color:blue;
  transition:color 0.3s ease;
}
.card3:hover {
  background-color:#007b9e;
}
.card3:hover h4,
.card3:hover p,
.card3:hover ul li {
  color:white;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #007b9e;
}

.text-primary {
  color: #007b9e;
}

.number-circle {
  background-color: #007b9e;
  border-radius: 50%;
  color: white;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin-right: 10px;
}

.card-body {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list-unstyled {
  text-align: left;
  font-size: 1rem;
  line-height: 1.6;
  flex-grow: 1;
}

.shadow-sm {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card:hover {
  background-color: #007b9e;
  color: white;
}

.card:hover .card-title,
.card:hover .number-circle {
  color: white;
  background-color: white;
  color: #007b9e;
}

.active-card {
  background-color: #007b9e;
  color: white;
}

.active-card .card-title,
.active-card .number-circle {
  background-color: white;
  color: #007b9e;
}
.team-card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  height: 90%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 15px;
  margin-bottom:60px;
}

.team-card:hover {
  transform: translateY(-10px);
  background-color: white;
}
.team-section h2 {
  font-size: 35px;
  font-weight:bold;
}

.image-wrapper {
  flex: 1 1 50%;
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 20px;
}

.team-img {
  width: 100%;
  height: 100%;
  object-fit: relative;
  border-radius: 4px;
}

.card-body-content {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.social-icons i {
  font-size: 20px;
  color: #007bff;
  transition: color 0.3s ease-in-out;
}

.social-icons i:hover {
  color: #0056b3;
}

.card-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #007bff;
}

.card-text {
  color: gray;
}
.footer {
  background-color: #008cba;
  color: #fff;
}

.footer-heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}


.subscribe-group {
  max-width: 320px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.subscribe-input {
  border-radius: 25;
  border: 1px solid #fff;
}

.subscribe-btn1 {
  background-color: #008cba;
  color: #fff;
  border-radius: 10;
  height:130%;
}

.footer-divider {
  border-top: 1px solid #fff;
}

.social-links {
  padding-left: 0;
}

.social-links li {
  display: inline-block;
  margin-right: 15px;
}

.social-links a {
  color: #fff;
  font-size: 25px;
  transition: color 0.3s;
}
.media-links a {
  color: #008cba;
  font-size: 25px;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #008cba;
}

.tiba-health-column,
.quick-links-column,
.Connect-with-us {
  padding-left: 30px;
}

.tiba-health-column {
  margin-right: 70px;
}
.tiba-health-column p {
  color:white;
}

.quick-links-column {
  padding-right: 20px;
}

@media (min-width: 768px) {
  .quick-links-column {
    margin-left: 50px;
  }
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li a {
  color: #fff;
  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
}
