/* Styles for the target page */
.container {
    padding: 40px;
  }
  .container h2 {
    color:#007bff;
    font-weight:bold;
    font-size:25px;
  }
  .welcome-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
  }
  
  .small-logo {
    height: 40px;
  }
  
  .doctor-image {
    width: 70%;
    border-radius: 10px;
  }
  
  .progress-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .step {
    width: 30px;
    height: 30px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    color: #fff;
  }
  
  .step.active {
    background-color: #007bff;
  }
  
  .step-labels {
    font-weight: bold;
    color: #007bff;
  }
  
  .form-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
  }
  
  .btn-lg {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .text-primary {
    color: #007bff !important;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  